#contatos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

#contatos div {
  padding: 0.5em;
  border-radius: var(--radius);
  box-shadow: var(--sombra-box);
  flex: 1 0 350px;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#contatos div:hover {
  box-shadow: var(--sombra-box-hover);
  transform: translateY(5px);
}

#contatos div h3 {
  color: var(--amarelo-escuro);
  margin: 0.5em 0;
}

#contatos div i {
  color: var(--cinza-escuro);
}

#contatos div p {
  color: var(--preto);
}

@media (max-width: 765px) {
  #contatos div {
    flex: 1 1 auto;
  }
}
